# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*
expo-web.*.log

# macOS
.DS_Store

# Env (segredos / config local)
.env
.env.local

# Typescript
*.tsbuildinfo

.vercel
.env*
